:root {
  --border: #5e5e5e;
  --secondary-text: #727272;
  --link: #786407;
  --text: #2c2c2c;
  --shadow: 0px 2px 5px #c2c2c2;
  --bg-color: #f6f6f6;
  --header-bg-color: #f2f2ed;
  --textarea-bg-color: #fff;
}

* { box-sizing: border-box; }

html {
  line-height: 1.5;
  font-size: 16px;
  color: var(--text);
  background-color: var(--bg-color);
  font-family: Geneva, Arial, Sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
}
body { margin-bottom: 10rem; }

nav {
  position: absolute;
  padding: 1rem;
}

header {
  padding-bottom: 2rem;
  padding-top: 3rem;
  box-shadow: var(--shadow);
  background-color: var(--header-bg-color);
}
header p { margin: 0; }

h1 {
  margin: 0;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

a {
  color: var(--link);
  text-decoration: none;
}
a:hover { text-decoration: underline }

header p {
  max-width: 500px;
  margin: 1rem auto;
  text-align: center;
  font-size: 1.2rem;
}

main {
  max-width: 600px;
  margin: auto;
  padding-top: 2rem;
  border-top: 0;
}

form {
  display: flex;
  flex-direction: column;
}
form textarea {
  width: 100%;
  height: 350px;
  padding: .7rem;
  border-radius: 10px;
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  resize: none;
  font-family: Geneva, Arial, Sans-serif;
  font-size: 16px;
  background-color: var(--textarea-bg-color);
  color: var(--text);
}
form input[type="submit"] {
  align-self: end;
  margin: 1rem;
  padding: 0.3rem 1.7rem;
  background-color: var(--link);
  border: 1px solid var(--border);
  border-radius: 5px;
  box-shadow: var(--shadow);
  cursor: pointer;
  font-family: Geneva, Arial, Sans-serif;
  font-size: 1.2rem;
  color: #fff;
}

.comments div[role="listitem"] {
  margin: 1rem 0;
  padding: .5rem;
  border-left: 3px solid var(--border);
  box-shadow: var(--shadow);
  background-color: var(--header-bg-color);
}
.comments time {
  font-size: .8rem;
  font-style: italic;
  color: var(--secondary-text);
}
.comments p {
  margin: 0;
  margin-top: .5rem;
  white-space: pre-wrap;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #202020;
    --link: #e1d4af;
    --text: #dbdbdb;
    --border: #5e5e5e;
    --shadow: 0px 2px 5px #383838;
    --header-bg-color: #161718;
    --secondary-text: #727272;
    --textarea-bg-color: #000;
  }

  form input[type="submit"] {
    color: #000;
  }
}
