:root {
  --link: #786407;
  --text: #2c2c2c;
  --shadow: 0px 2px 5px #c2c2c2;
  --bg-color: #f6f6f6;
  --header-bg-color: #d2dceb;
  --avatar-border: gold;
}

* { box-sizing: border-box; }

html {
  font-size: 16px;
  font-family: Geneva, Arial, Sans-serif;
  line-height: 1.5;
  color: var(--text);
  background-color: var(--bg-color);
}

body {
  margin: 0;
  padding: 50px 0;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.h-card {
  max-width: 350px;
  padding: .5rem;
  margin-top: 3rem;
  text-align: center;
}
.h-card .framework {
  background-color: #2b2b2b;
  border: 2px solid gold;
  box-shadow: var(--shadow);
}
.h-card .framework img {
  object-fit: contain;
  position: relative;
  top: 15px;
  filter: drop-shadow(0px 4px 8px black)
}

h1, h2 { font-weight: 400; }
h2 {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 5px;
}

a {
  color: var(--link);
  text-decoration: none;
}
a:hover { text-decoration: underline; }

.links {
  padding: .5rem;
  text-align: center;
  background-color: var(--bg-color);
}
.links > section {
  margin: 3rem 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #202020;
    --link: #e1d4af;
    --text: #dbdbdb;
    --shadow: 0px 2px 5px #383838;
    --header-bg-color: #161718;
    --avatar-border: gold;
  }
}
