:root {
  --highlight: #edeeea;
  --border: #5e5e5e;
  --secondary-text: #727272;
  --link: #786407;
  --text: #2c2c2c;
  --shadow: 0px 2px 5px #c2c2c2;
  --bg-color: #f6f6f6;
  --header-bg-color: #f2f2ed;
}

* { box-sizing: border-box; }

html {
  line-height: 1.5;
  font-size: 16px;
  color: var(--text);
  background-color: var(--bg-color);
  font-family: Geneva, Arial, Sans-serif;
}

body {
  margin: 0 auto;
  padding: 50px 1rem;
  max-width: 600px;
}

header nav { border-bottom: 2px solid var(--border) }
header nav a:hover {
  text-decoration: underline;
  background-color: unset;
}

h1 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}
h2 {
  font-size: 1.2rem;
  font-weight: 500;
  border-bottom: 2px solid var(--border);
  padding: .5rem;
}

a {
  color: var(--link);
  text-decoration: none;
}
a:hover { text-decoration: underline }
nav a:hover { text-decoration: none; }
footer a:hover { text-decoration: underline; }

a[rel="home"] span {
  font-style: normal;
}

p[role="listitem"] { margin: 0; }

footer {
  margin-top: 5rem;
  margin: 4rem auto;
  padding: 1rem;
}

main nav a {
  display: block;
  padding: 1rem;
  font-weight: bold;
}
main nav a span {
  display: block;
  font-weight: normal;
}
main nav a:active,
main nav a:focus,
main nav a:hover {
  outline: none;
  background-color: var(--highlight);
}

main nav a .title { font-weight: 500; }
main nav a .description { color: var(--text); }
main nav a .time { color: var(--secondary-text); }

@media (max-width: 600px) {
  nav a { text-align: center; }
  nav a span { display: block; }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #202020;
    --link: #e1d4af;
    --text: #dbdbdb;
    --highlight: #29291e;
    --border: #5e5e5e;
    --shadow: 0px 2px 5px #383838;
    --header-bg-color: #161718;
    --secondary-text: #727272;
  }
}
